{% extends "./master.html"%}
{% block title %} Admin Login {% endblock %}

{% block content %}

<div class="login-body">

<h2>Admin Login</h2>
<br><br>

<div class="formgroup login-form m-4">
<form class="add-form" method="POST" action="">
    {%  csrf_token %}
    <div class="add_post_form">
        {{  form.as_p }}
    </div>
    <button class="btn btn-primary">Login</button>
    <!-- <p>Haven't registered? click <a href="{% url 'register' %}">here</a> to register an Admin</p>    -->

</form>
</div>

</div>



{% endblock %}