{% extends "./master.html"%}
{% block title %} Create a new blog post {% endblock %}

{% block content %}

<div class="add-post-body">
{% if user.is_authenticated %}

<h2>Add Blog Post </h2>
<br><br>

<div class="formgroup add-post-formbox">
<form class="add-form" method="POST" enctype="multipart/form-data">
    {%  csrf_token %}
    <div class="add_post_form">

        {{  form.media }}
        {{  form.as_p }}
        
    </div>
    <button class="btn btn-primary">Post</button>   

</form>
</div>

{% else %}
<p>You are not allowed here... This page is for the admin </p>


{% endif %}
</div>

{% endblock %}

<!-- <script>
    CKEDITOR.replace('text-editor');
</script> -->