{% extends "./master.html"%}
{% block title %} Create a new blog post {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<h3>Add Post... </h3>
<br><br>

<div class="formgroup m-4">
<form class="add-form" method="POST" action="">
    {%  csrf_token %}
    <div class="add_post_form">
        {{  form.as_p }}
    </div>
    <button class="btn btn-primary">Post</button>   

</form>
</div>

{% else %}
<p>You are not allowed here... This page is for the admin </p>

{% endif %}

{% endblock %}