{% extends "./master.html"%}
{% block title %}{{ post.title_tag }}{% endblock %}
 

{% block content %}

{% include "./navbar2.html" %}

<h1>{{ post.title }}</h1>
<small>By: {{ post.author.username }}- {{  post.post_date }} 

    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
    <small> - <a href="{% url 'update_post' post.pk %}">(Edit)</a>
     <a href="{% url 'delete_post' post.pk %}">(Delete)</a></small>
        {% endif %}
     {% endif %}
    <br/>
<hr>
<br/><br/>
{{ post.body | safe }}

<br/>
<a href="{% url 'blog' %}" class="btn btn-secondary">Back</a>

{% endblock %}