{% extends "./master.html"%}
{% block title %} Delete blog post {% endblock %}

{% block content %}

<div class="delete-page">
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h3 class="text-danger">Delete Post... </h3>
        <br><br>

        <h3>Delete: {{ post.title }}</h3>


<div class="formgroup">
<form class="" method="POST" action="">
    {%  csrf_token %}
    <div class="">
        <strong>Are you sure?!</strong><br/><br/>
    </div>
    <button class="btn btn-danger">Delete Post</button>   

</form>
</div>
    {% else %}
    <p>You are not allowed here... This page is for the admin </p>
    {% endif %}

{% else %}
<p>You are not allowed here... This page is for the admin </p>

{% endif %}

</div>


{% endblock %}