{% extends "./master.html"%}
{% block title %} Edit blog post {% endblock %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h3>Update Post...!!! </h3>
        <br><br>     

            <div class="formgroup m-4">
            <form class="add-form" method="POST" action="">
                {%  csrf_token %}
                <div class="add_post_form">
                    {{  form.media }}
                    {{  form.as_p }}
                </div>
                <button class="btn btn-primary">Update</button>   

                </form>
                </div>
    {% else %}
    You are not allowed here

    {% endif %}
{% endif %}


{% endblock %}