{% extends "./master.html"%}
<!-- {% load static %} -->

{% block content %}


    <!-- <div class="footer-container"> -->

        <!-- Subscription field -->
        <!-- <h3 class="footer-h3">Subscribe to <span>Our Newsletter</span></h3>
        <p class="footer-p" style="color: black;">No spam message from us, only give you latest offer which is best for you and your business</p>

        <div class="subscribe">
            {{ sub_name }}
            <form action="{% url 'home' %}" method="POST">
                {% csrf_token %}
                <div>
                    <input type="email" name="email" placeholder="your email address...">
                </div>

                <div>
                    <input type="submit" value="Subscribe Now">
                </div>   
            </form>
        </div> -->
       
        <!-- Has the last footer -->
        <div class="footer-last-container">

            
            <div class="footer-about">
                <div>
                    <h1 class="footer-h4">AOA</h1>
                    </div>
                <a href="{% url 'about' %}"><h1 class="footer-h4" style="color: black; cursor: pointer;">About Us</h1></a>
                <p class="footer-p" style="color: black;"> We handle all aspects of decoration planning and design. 
                    <br>From weddings to parties, corporate events to special occasions...  
                </p>  
            <div>

                
                <div class="maps social-links">
                    <span>
                    <small>Explore our social media handles...</small><br>
                     <a href="https://www.instagram.com" target="_blank"><i class="uil uil-instagram-alt socials"></i></a>
                     <a href="https://www.facebook.com" target="_blank"><i class="uil uil-facebook socials"></i></a>
                     <a href="https://www.youtube.com" target="_blank"><i class="uil uil-youtube socials"></i></a>
                     <a href="https://www.whatsapp.com" target="_blank"><i class="uil uil-whatsapp-alt socials"></i></a>
                    </span>
                </div>
                <br>
                <small class="" style="color: rgb(238, 117, 117);">Copyright © 2024 AOA. All rights reserved</small>
        </div>
        
    <!-- </div> -->

{% endblock %}